.row
  .col-auto
    = image_tag('home/cover.jpg', class: 'img-fluid mb-3')
  .col-auto
    - if current_user
      .row
        = link_to "Search", "#", class: 'btn btn-primary btn-lg d-block'
    - else
      = render 'devise/sessions/sign_in_form'
